@import './variable';
@import './fonts';

@mixin tabletView {
  @media (min-width: 600px) { @content; }
}
@mixin desktopView {
  @media (min-width: 992px) { @content; }
}
@mixin bigDesktopView {
  @media (min-width: 1400px) { @content; }
}
@mixin resetSides {
  padding: 0;
  margin: 0;
}
@mixin iconSize($param) {
  width: $param;
  height: $param;
}
@mixin resizePopupBody($bodyFont, $lableFont, $iconSize) {
  font-size: $bodyFont;

  .labels {
    font-size: $lableFont;

    img.icons {
      @include iconSize($iconSize);
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $white-color;
  font-family: 'roboto-regular';
  font-size: 14px;

  @include resetSides;

  @include desktopView {
    font-size: 18px;
  }
}

nav, ul, li, h2, h3, h4, p {
  @include resetSides;
}

ul, li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background: $gray-color;
  border-radius: 5px;
}

.loader {
  border: 3px solid $white-color;
  border-radius: 50%;
  border-top: 3px solid $bg-color;
  width: 70px;
  height: 70px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header {
  margin-bottom: 15px;
  
  .left-items, .right-items {
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    margin: auto;

    @include tabletView {
      width: 49.7%;
      display: inline-block;
    }
  }

  img.logo {
    vertical-align: bottom;

    @include iconSize(20px);

    @include desktopView {
      @include iconSize(24px);
    }
  }

  nav, ul, li {
    display: inline;
  }

  nav ul {
    li {
      margin-left: 10px;
      font-family: 'roboto-light';
      cursor: pointer;
      
      &:hover {
        color: #d2d2d2;
      }
      &.active {
        font-weight: 900;
        font-family: 'roboto-bold';
      }
    }
  }

  .right-items {
    text-align: center;

    input {
      padding: 10px 15px;
      width: 100%;
      border: 2px solid $black-color;
      background-color: $bg-color;
      outline: $black-color;
      border-radius: 5px;
      color: $white-color;
    
      &::placeholder {
        color: $white-color;
      }

      @include desktopView {
        width: 60%;
      }
    }
    
    label {
      position: absolute;
      margin-top: 10px;
      right: 35px;
      cursor: pointer;

      .icons {
        @include iconSize(15px);
      }
    }

    @include desktopView {
      text-align: right;
    }
  }
}

.poster-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  .error-message {
    color: $red-color;
    margin: auto;
  }
}

.poster {
  flex-basis: 48%;
  height: 250px;
  margin: 5px 0px;
  cursor: pointer;

  &:hover {
    flex-basis: 49%;
    height: 260px;
    margin: 0;
    transition: width ease 700ms;

    .labels {
      top: -250px;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .labels {
    position: relative;
    top: -245px;

    .left {
      float: left;
      margin-left: 5px;
    }
    .right {
      float: right;
      margin-right: 5px;
    }
    .left, .right {
      padding: 3px 5px;
      font-size: 11px;
      background-color: $bg-color;
      border-radius: 2px;

      .icons {
        @include iconSize(10px);
      }
    }

    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }

  @include tabletView {
    flex-basis: 31%;

    &:hover {
      flex-basis: 32%;
      height: 260px;
      margin: 0;

      .labels {
        top: -250px;
      }
    }
  }

  @include desktopView {
    flex-basis: 23%;
    height: 300px;
    margin: 10px 0px;

    &:hover {
      flex-basis: 24%;
      height: 320px;
      margin: 0;

      .labels {
        top: -310px;
      }
    }

    .labels {
      top: -290px;

      .left, .right {
        font-size: 12px;
      }
    }
  }

  @include bigDesktopView {
    flex-basis: 18%;

    &:hover {
      flex-basis: 19%;
      height: 320px;
      margin: 0;

      .labels {
        top: -310px;
      }
    }
  }
}

.popup-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  z-index: 10;
  background-color: $popup-bg-trans;
  transition: display ease 1s;

  .modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
    background-color: $black-color;
    border-radius: 5px;
    cursor: pointer;

    @include iconSize(12px);

    @include desktopView {
      padding: 3px;

      @include iconSize(16px);
    }
  }

  h2, h3 {
    font-family: 'roboto-bold';
  }
  h2 {
    font-size: 16px;
    font-weight: 600;

    @include tabletView {
      font-size: 18px;     
    }
    @include bigDesktopView {
      font-size: 20px;
    }
  }
  h3 {
    font-size: 12px;
    font-weight: 500;

    @include tabletView {
      font-size: 14px;     
    }
    @include bigDesktopView {
      font-size: 16px;
    }
  }

  .content {
    margin: auto;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    background-color: $bg-color;
    border: 2px solid $black-color;
    border-radius: 2px;
    width: 90%;
    position: relative;

    @include tabletView {
      width: 70%;
    }

    @include desktopView {
      width: 60%;
    }
  }

  .title {
    width: 100%;
    height: 220px;

    img {
      width: 100%;
      height: 100%;
    }
    h2 {
      position: relative;
      top: -120px;
      padding: 10px;
      font-family: 'roboto-bold';
      text-align: center;
    }

    @include desktopView {
      height: 300px;
    }
  }

  .body {
    width: 100%;
    padding: 15px;
    font-size: 11px;

    .group {
      margin-top: 15px;
    }

    .labels {
      display: inline-block;
      margin-right: 10px;
      font-size: 9px;
      font-family: 'roboto-light';

      img.icons {
        @include iconSize(8px);
      }
    }
    
    @include tabletView {
      @include resizePopupBody(12px, 11px, 10px);
    }
    
    @include bigDesktopView {
      @include resizePopupBody(14px, 12px, 12px);
    }
  }
}